<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>There is a crack in everything,that's how the light gets in.</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

   
    <a class="sidebar-nav-item" href="https://github.com/midnight2104">GitHub</a>
    <span class="sidebar-nav-item">email: ll2104@163.com</span>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; This blog is based on <a href="https://github.com/poole/lanyon">Lanyon</a>.
      
    </p>
  </div>
</div>
